{#- Template for MATLAB properties.

This template renders a MATLAB class property.

Context:
  property (mkdocstrings_handlers.matlab.models.Property): The property to render.
  root (bool): Whether this is the root object, injected with `:::` in a Markdown page.
  heading_level (int): The HTML heading level to use.
  config (dict): The configuration options.
-#}


{% block logs scoped %}
  {#- Logging block.

  This block can be used to log debug messages, deprecation messages, warnings, etc.
  -#}
  {{ log.debug("Rendering " + property.path) }}
{% endblock logs %}

<div class="doc doc-object doc-property">
  {% with obj = property, html_id = property.path %}

    {% if root %}
      {% set show_full_path = config.show_root_full_path %}
      {% set root_members = True %}
    {% elif root_members %}
      {% set show_full_path = config.show_root_members_full_path or config.show_object_full_path %}
      {% set root_members = False %}
    {% else %}
      {% set show_full_path = config.show_object_full_path %}
    {% endif %}

    {% set property_name = property.path if show_full_path else property.name %}

    {% if not root or config.show_root_heading %}
      {% filter heading(
          heading_level,
          role="data" if property.parent.kind.value == "module" else "attr",
          id=html_id,
          class="doc doc-heading",
          toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-property"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + (config.toc_label if config.toc_label and root else property_name),
        ) %}

        {% block heading scoped %}
          {#- Heading block.

          This block renders the heading for the property.
          -#}
          {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-property"></code>{% endif %}
          {% if config.separate_signature %}
            <span class="doc doc-object-name doc-property-name">{{ config.heading if config.heading and root else property_name }}</span>
          {% else %}
            {%+ filter highlight(language="python", inline=True) %}
              {{ property_name }}{% if property.annotation and config.show_signature_types %}: {{ property.annotation }}{% endif %}
              {% if property.value %} = {{ property.value }}{% endif %}
            {% endfilter %}
          {% endif %}
        {% endblock heading %}

        {% block attributes scoped %}
          {#- attributes block.

          This block renders the attributes for the property.
          -#}
          {% with attributes = property.attributes %}
            {% include "attributes.html.jinja" with context %}
          {% endwith %}
        {% endblock attributes %}

      {% endfilter %}

      {% block signature scoped %}
        {#- Signature block.

        This block renders the signature for the property.
        -#}
        {% if config.separate_signature %}
          {% filter format_property(property, config.line_length, crossrefs=config.signature_crossrefs) %}
            {{ property.name }}
          {% endfilter %}
        {% endif %}
      {% endblock signature %}

    {% else %}

      {% if config.show_root_toc_entry %}
        {% filter heading(heading_level,
            role="data" if property.parent.kind.value == "module" else "attr",
            id=html_id,
            toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-property"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + (config.toc_label if config.toc_label and root else property_name),
            hidden=True,
          ) %}
        {% endfilter %}
      {% endif %}
      {% set heading_level = heading_level - 1 %}
    {% endif %}

    <div class="doc doc-contents {% if root %}first{% endif %}">
      {% block contents scoped %}
        {#- Contents block.

        This block renders the contents of the property.
        It contains other blocks that users can override.
        Overriding the contents block allows to rearrange the order of the blocks.
        -#}
        {% block docstring scoped %}
          {#- Docstring block.

          This block renders the docstring for the property.
          -#}
          {% with docstring_sections = property.docstring | parse_docstring(config.docstring_style, config.docstring_options) %}
            {% include "docstring.html.jinja" with context %}
          {% endwith %}
        {% endblock docstring %}

        {% if config.backlinks %}
          <backlinks identifier="{{ html_id }}" handler="python" />
        {% endif %}
      {% endblock contents %}
    </div>

  {% endwith %}
</div>
