name: Docs

# Controls when the workflow will run
on:
  workflow_call:
    inputs:
      version:
        description: >-
          Version of the documentation to publish
        type: string
        required: true
      alias:
        description: >-
          (Versioned) Alias to use when publishing the versioned documentation with mike
        type: string
        default: "latest"
      set-default:
        description: >-
          Set the alias as the default version
        type: boolean
        default: true
      push:
        description: >-
          Push the documentation to the remote branch
        type: boolean
        default: true

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to push to the documentation branch

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"
  
      - name: Sync dependencies
        run: |
          uv sync --no-dev --group docs

      - name: Configure Git Credentials
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com
  
      - name: Build documentation with mike
        env:
          PUSH_DEPLOY: ${{ fromJson(inputs.push) && '--push' || '' }}
        run: >
          uv run mike deploy ${PUSH_DEPLOY}
          --update-aliases
          --branch gh-pages
          --alias-type symlink
          ${{ inputs.version }} ${{ inputs.alias }}
      
      - name: Set default alias for mike 
        if: ${{ fromJson(inputs.set-default) }}
        run: >
          uv run mike set-default
          --branch gh-pages 
          --push
          ${{ inputs.alias }}
