name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    if: github.event.pull_request.merged == true
    name: Semantic version release
    runs-on: ubuntu-latest
    environment: release
    outputs:
      released: ${{ steps.semantic-release.outputs.released }}
      tag: ${{ steps.semantic-release.outputs.tag }}
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:

    - uses: actions/create-github-app-token@v1
      id: app-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: Get GitHub App User ID
      id: get-user-id
      env:
        GH_TOKEN: ${{ steps.app-token.outputs.token }}
      run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"

    - run: |
        git config --global user.name '${{ steps.app-token.outputs.app-slug }}[bot]'
        git config --global user.email '${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com'

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        ref: ${{ github.sha }}
        token: ${{ steps.app-token.outputs.token }}
        persist-credentials: true
  
    - name: Force correct release branch on workflow sha
      run: |
        git checkout -B ${{ github.ref_name }} ${{ github.sha }}

    - name: Update version and changelogs
      id: semantic-release
      uses: python-semantic-release/python-semantic-release@v9.16.1
      with: 
        build: false
        changelog: true
        commit: true
        push: true
        tag: true
        vcs_release: true
        github_token: ${{ steps.app-token.outputs.token }}

    - name: Install the latest version of uv
      if: steps.semantic-release.outputs.released == 'true'
      uses: astral-sh/setup-uv@v5
      with:
        version: "latest"

    - name: Build and publish package distributions
      if: steps.semantic-release.outputs.released == 'true'
      run: |
        uv sync --no-dev
        uv build
        uv publish

    - name: Publish package distributions to GitHub Releases
      if: steps.semantic-release.outputs.released == 'true'
      id: publish-dist
      uses: python-semantic-release/publish-action@v9.16.1
      with:
        github_token: ${{ steps.app-token.outputs.token }}
        tag: ${{ steps.semantic-release.outputs.tag }}

  mkdocs:
    name: Deploy documentation
    needs: [publish]
    uses: ./.github/workflows/docs.yaml
    secrets: inherit
    with:
      version: ${{ needs.publish.outputs.tag }}
      alias: latest
      set-default: true
      push: true
